@font-face {
  font-family: "light";
  src: url('./assets/font/youtube-sans-light.ttf');
}
@font-face {
  font-family: "medium";
  src: url('./assets/font/youtube-sans-medium.ttf');
}
@font-face {
  font-family: "bold";
  src: url('./assets/font/youtube-sans-bold.ttf');
}

body {
  background-color: #0F0F0F;
}